<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/user/changepassword.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<%-include('../layout/userHeader')%>
<body>
    




<div class="container">

            
    <!-- Jumbotron -->
    <div class="container col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="row g-0 align-items-center justify-content-center">
            <div class="col-lg-6 mb-5 mb-lg-0 mt-5 pt-5">
                <div class="card cascading-right"
                    style="background: hsla(0, 0%, 100%, 0.55); backdrop-filter: blur(30px); ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Change Password</h2>
                        <form action="/myprofile/changepassword" method="POST">

                            
                <div class="form-group pass_show"> 
                    <input name="password" type="password" value="" class="form-control" placeholder="Current Password"> 
                </div> 
                <p style="color: red;">
                    <%=locals.check%>
                </p>


                
                <div class="form-group pass_show"> 
                    <input name="newpassword" type="password" value="" class="form-control" placeholder="New Password"> 
                </div> 


                          
                <div class="form-group pass_show"> 
                    <input name="confirmpassword" type="password" value="" class="form-control" placeholder="Confirm Password"> 
                </div> 

                <p style="color: red;">
                    <%=locals.check2%>
                </p>
                            

                            
                           

                            <!-- Submit button -->
                            <div class="form-outline mt-3">
                                <button type="submit" class="btn btn-primary btn-block mb-4"> Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function(){
    $('.pass_show').append('<span class="ptxt">Show</span>');  
    });
      
    
    $(document).on('click','.pass_show .ptxt', function(){ 
    
    $(this).text($(this).text() == "Show" ? "Hide" : "Show"); 
    
    $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 
    
    });  
    </script>


<%-include('../layout/userFooter')%>